
# IDE
.idea/
*.iml
.vscode/

# Python
__pycache__/
*.py[cod]
.venv/

# App runtime
deid_service/storage/files/*
!deid_service/storage/files/.gitkeep
deid_service/app/static/css/*
!deid_service/app/static/css/.gitkeep
deid_service/app/static/js/*
!deid_service/app/static/js/.gitkeep
