
# IDE
.idea/
*.iml
.vscode/

# Python
__pycache__/
*.py[cod]
.venv/
*.egg-info/

# App runtime
storage/files/*
!storage/files/.gitkeep
app/static/css/*
!app/static/css/.gitkeep
app/static/js/*
!app/static/js/.gitkeep
